<!DOCTYPE HTML>
<html>
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<title>{{ page.title | default(site.title) }}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="{{ page.description | default(site.description) }}" />
	<meta name="keywords" content="{{ page.keywords | default(site.keywords) | join(',') }}" />

	<link rel="stylesheet" media="all" href="{{ site.url }}/css/main.css">
	<link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico">

</head>
<body>
	<header id="home">
		<div class="row banner">

			<div class="banner-text">
				<h1 class="responsive-headline">I'm {{ site.author.name }}</h1>
				<h3>{{ site.author.headline }}</h3>
				<p class="lead">{{ site.author.bio }}</p>
				<hr/>
			</div>

			{% if site.author.interests %}
				<ul class="stats-tabs">
					{% for interest in site.author.interests %}
						<li><i class="fa fa-circle-thin"></i> {{ interest }}</li>
					{% endfor %}
				</ul>
			{% endif %}

			<ul class="social">
				{% if site.social_networks.twitter %}
				<li>
					<a href="https://twitter.com/{{ site.social_networks.twitter }}">
						<i class="icon-twitter"></i>
					</a>
				</li>
				{% endif %}
				{% if site.social_networks.github %}
				<li>
					<a href="{{ site.social_networks.github }}">
						<i class="icon-github"></i>
					</a>
				</li>
				{% endif %}
				{% if site.social_networks.email %}
				<li>
					<a href="mailto:{{ site.social_networks.email }}">
						<i class="icon-envelope"></i>
					</a>
				</li>
				{% endif %}
				{% if site.social_networks.url %}
				<li>
					<a href="{{ site.social_networks.url }}">
						<i class="icon-link"></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</header>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/js/jquery-1.10.2.min.js"><\/script>')</script>
	<script src="/js/jquery.fittext.js"></script>
	<script src="/js/init.js"></script>
</body>
</html>